.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131921;
  padding: 10px 20px;
  color: white;
}

.header_logo {
  display: flex;
  align-items: center;
}

.header_logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: orange;
}

.header_logoImage {
  margin-right: 5px;
}

.header_logoTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: 600px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}

.header_searchInput {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.header_searchIcon {
  padding: 10px;
  background-color: #febd69;
  color: black;
  cursor: pointer;
}

.header_nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_item {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  cursor: pointer;
}

.nav_itemBasket {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}

.nav_itemBasket .nav_basket {
  margin-left: 5px;
  font-weight: bold;
}

.nav_item a {
  text-decoration: none;
  color: white;
}

.nav_ietmLineTwo {
  font-weight: bold;
}
